#woocommerce-product-data ul.product_data_tabs li.cart_subscriptions_tab a:before {
	content: '\e00e';
}

#cart_subscriptions_data {
	padding-bottom: 10px;
}

#cart_subscriptions_data .help_tip {
	width: 17px;
	height: 17px;
	margin-left: 0;
}

#cart_subscriptions_data .subscription_schemes {
	border-bottom: none;
}

#cart_subscriptions_data .subscription_scheme .form-field {
	float: left;
}

#cart_subscriptions_data .subscription_scheme {
	border-radius: 0;
}

#cart_subscriptions_data .subscription_scheme_data {
	font-weight: normal;
}

#cart_subscriptions_data .subscription_scheme_data .form-field {
	margin: 0;
}

#cart_subscriptions_data.panel .subscription_scheme .remove_row {
	margin-top: 5px;
}

#cart_subscriptions_data .subscription_scheme_data:after {
	clear: both;
	display: table;
	content: " ";
}

/*
 * Admin settings
 */

.forminp #cart_subscriptions_data {
	padding-top: 10px;
}

.forminp #cart_subscriptions_data .wc-metabox {
	background: none;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
}

.forminp #cart_subscriptions_data .wc-metabox:first-of-type {
	border-top: 0;
}

.forminp #cart_subscriptions_data .add_subscription_scheme {
	font-weight: bold;
}
