ul.wcsatt-options li, ul.wcsatt-options-cart li, ul.wcsatt-options-product li {
	list-style: none;
}

ul.wcsatt-options {
	margin: 10px 0 0;
	min-width: 120px;
}

ul.wcsatt-options.overrides_exist {
	margin: 0 0 0;
}

li span.subscription-option-details, li span.one-time-option-details {
	padding-left: 0.2em;
}

li span.price span.subscription-details {
	padding-left: 0.1em;
}

li .no-price span.subscription-details:first-letter, li span.one-time-option-details:first-letter {
	text-transform: uppercase;
}

a.wcs-switch-link {
	display: table;
	margin-top: 1em;
}

/* Single-Product */

ul.wcsatt-options-product {
	margin: 0 0 2em 5px;
}

.wcsatt-options-product li span.subscription-details, .wcsatt-options-product li span.one-time-option-details {
	display: inline-block;
}

.single-product div.product .single_variation ul.wcsatt-options-product .price {
	display: inline;
}

/* Cart */

ul.wcsatt-options-cart {
	margin: 0 0 1.5em 0;
}

/* Add Product/Whatever to Subscription */

@font-face {
	font-family: 'FontAwesomeSATT';
	src: url("../fonts/fa.eot?v=2.1.0");
	src: url("../fonts/fa.eot?#iefix&v=2.1.0") format("embedded-opentype"), url("../fonts/fa.woff2?v=2.1.0") format("woff2"), url("../fonts/fa.woff?v=2.1.0") format("woff"), url("../fonts/fa.ttf?v=2.1.0") format("truetype"), url("../fonts/fa.svg?v=2.1.0#fontawesomesatt") format("svg");
	font-weight: normal;
	font-style: normal;
}

.wcsatt-add-to-subscription-wrapper:before {
	display: table;
	clear: both;
	content: '';
	margin-top: 2em;
}

.wcsatt-add-to-subscription-wrapper label span {
	margin-left: 0.3em;
}

.wcsatt-add-to-subscription-options:before {
	display: table;
	clear: both;
	content: '';
	margin-top: 1.5em;
}

.wcsatt-add-to-subscription-options .subscription-status {
	display: none;
}

.wcsatt-add-to-subscription-options table.my_account_orders {
	margin-bottom: 0;
}

.wcsatt-add-to-subscription-options .button.add:after {
	font-family: FontAwesomeSATT;
	content: "\f067";
	margin-left: 0.5em;
	line-height: 0.9em;
	font-size: 0.9em;
}

.wcsatt-add-to-subscription-options .subscription-actions {
	min-width: 180px;
}

/* Add Cart to Subscription */

.wcsatt-add-cart-to-subscription-wrapper {
	margin-bottom: 2em;
}

.wcsatt-add-cart-to-subscription-intro {
	font-style: italic;
	letter-spacing: 1px;
	font-size: 1.25em;
	line-height: 1.25em;
	margin: 1.5em;
	text-align: center;
	font-weight: 400;
}

.wcsatt-add-cart-to-subscription-action-wrapper {
	font-size: 1.3em;
	position: relative;
}

.wcsatt-add-cart-to-subscription-action-wrapper label {
	font-weight: 300;
	cursor: pointer;
	display: block;
}

.wcsatt-add-cart-to-subscription-action-input {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-right: 0;
}

.wcsatt-add-cart-to-subscription-wrapper:after, .wcsatt-add-cart-to-subscription-options:before {
	display: table;
	clear: both;
	content: '';
}

.wcsatt-add-cart-to-subscription-options table.my_account_orders {
	margin-bottom: 0;
}

.wcsatt-add-cart-to-subscription-options .button.add:after {
	font-family: FontAwesomeSATT;
	content: "\f067";
	margin-left: 0.5em;
	line-height: 0.9em;
	font-size: 0.9em;
}

.wcsatt-add-cart-to-subscription-options .subscription-status {
	display: none;
}

.wcsatt-add-cart-to-subscription-options .subscription-actions {
	min-width: 180px;
}

form.wcsatt-add-cart-to-subscription-form {
	margin: 0 !important;
}
