ul.wcsatt-options li, ul.wcsatt-options-cart li, ul.wcsatt-options-product li {
	list-style: none;
}

ul.wcsatt-options {
	margin: 10px 0 0;
	min-width: 120px;
}

ul.wcsatt-options.overrides_exist {
	margin: 0 0 0;
}

ul.wcsatt-options-cart {
	margin: 0 0 2em 0;
}

ul.wcsatt-options-product {
	margin: 0 5px 2em 0;
}

li span.subscription-option-details, li span.one-time-option-details {
	padding-right: 0.2em;
}

li span.price span.subscription-details {
	padding-right: 0.1em;
}

.wcsatt-options-product li span.subscription-details, .wcsatt-options-product li span.one-time-option-details {
	display: inline-block;
}

li .no-price span.subscription-details:first-letter, li span.one-time-option-details:first-letter {
	text-transform: uppercase;
}

.single-product div.product .single_variation ul.wcsatt-options-product .price {
	display: inline;
}

@font-face {
	font-family: 'FontAwesomeSATT';
	src: url("../fonts/fa.eot?v=2.1.0");
	src: url("../fonts/fa.eot?#iefix&v=2.1.0") format("embedded-opentype"), url("../fonts/fa.woff2?v=2.1.0") format("woff2"), url("../fonts/fa.woff?v=2.1.0") format("woff"), url("../fonts/fa.ttf?v=2.1.0") format("truetype"), url("../fonts/fa.svg?v=2.1.0#fontawesomesatt") format("svg");
	font-weight: normal;
	font-style: normal;
}

.wcsatt-add-to-subscription-wrapper:before {
	display: table;
	clear: both;
	content: '';
	margin-top: 2em;
}

a.wcsatt-add-to-subscription-action:before {
	font-family: FontAwesomeSATT;
	margin-left: 0.5em;
}

.wcsatt-add-to-subscription-wrapper.closed a.wcsatt-add-to-subscription-action:before {
	content: '\f107';
}

.wcsatt-add-to-subscription-wrapper.open a.wcsatt-add-to-subscription-action:before {
	content: '\f106';
}

.wcsatt-add-to-subscription-options:before {
	display: table;
	clear: both;
	content: '';
	margin-top: 1.5em;
}

.wcsatt-add-to-subscription-options .subscription-status {
	display: none;
}

.wcsatt-add-to-subscription-options table.my_account_orders {
	margin-bottom: 0;
}

.wcsatt-add-to-subscription-options .button.add:after {
	font-family: FontAwesomeSATT;
	content: "\f067";
	margin-right: 0.5em;
}
