.wc-metaboxes-wrapper .wc-metabox.subscription_scheme h3 span {
	display: block;
	float:left;
	padding-top: 5px;
}

#woocommerce-product-data ul.product_data_tabs li.cart_subscriptions_tab a:before {
	content: '\e00e';
}

#wcsatt_data .subscription_scheme .description {
	font-style: normal;
	display: inline;
	clear: none;
	margin: 0 8px 0 12px;
}

#wcsatt_data {
	padding-bottom: 10px;
}

#wcsatt_data .help_tip {
	width: 17px;
	height: 17px;
	margin-left: 0;
}

#wcsatt_data .subscription_schemes {
	border-bottom: none;
}

#wcsatt_data .subscription_scheme_data .form-field {
	float: left;
}

#wcsatt_data .subscription_scheme {
	border-radius: 0;
}

#wcsatt_data .subscription_scheme_data {
	margin: 0 90px 0 40px;
	position: relative;
	top: -40px;
	margin-bottom: -30px;
}

#wcsatt_data .subscription_scheme_product_data {
	margin-top: 10px;
	display: block;
	float: left;
}

#wcsatt_data .subscription_scheme_data .form-field {
	margin: 0;
}

#wcsatt_data .subscription_scheme_product_data label {
	margin: 0 0 0 -220px;
	width: 200px;
}

#wcsatt_data .subscription_scheme_product_data p.form-field {
	margin: 0;
	padding: 5px 20px 5px 227px !important;
}

#wcsatt_data .subscription_scheme_data:after, #wcsatt_data .subscription_scheme_product_data:after, #wcsatt_data .subscription_scheme_product_data .subscription_price_override_method_price, #wcsatt_data .subscription_scheme_product_data .subscription_price_override_method_discount {
	clear: both;
	display: table;
	content: " ";
}

#wcsatt_data .subscription_scheme_product_data .subscription_price_override_method_price p.form-field label, #wcsatt_data .subscription_scheme_product_data .subscription_price_override_method_discount p.form-field label {
	margin: 0 !important;
}

/*
 * Admin settings
 */

.forminp #wcsatt_data {
	padding-top: 10px;
}

.forminp #wcsatt_data .wc-metabox {
	background: none;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
}

.forminp #wcsatt_data .wc-metabox:first-of-type {
	border-top: 0;
}

.forminp #wcsatt_data .add_subscription_scheme {
	font-weight: bold;
}
